@model IEnumerable<aula.Models.Agendamento>
<div class="panel panel-primary">
    <div class="panel-heading">
        Relação de AGENDAMENTOS registrados para a Serviços
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Data)
                    </th>
                    <th>Funcionario</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AgendamentoId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Data)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Serviço.Descrição)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Funcionario.Nome)
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="panel-footer panel-info">
    </div>
</div>
