<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"
          charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/content/bootstrap.css")" rel="stylesheet" />
    <link href="../../../css/header.css" rel="stylesheet" />
    <link href="../../../css/footer.css" rel="stylesheet" />
    <link href="../../../css/global.css" rel="stylesheet" />
    @RenderSection("styles", false)
</head>
<body>

    <header>
        <div class="container-img">
            <div class="perfil-icon">
                <ol class="login-cadastro">
                    <img src="../assets/perfil.png" alt="" width="45">
                    <li><a href=""><p class="lista">Login</p></a></li>
                    <li><a href=""><p class="cadastro">Cadastro</p></a></li>
                </ol>
            </div>
            <div class="logo-icon">
                <a> <img src="assets/logo.png" alt="" width="150"></a>
            </div>
            <div></div>
        </div>
        <p class="borda"></p>
        <nav class="container-cabecalho">
            <ol class="cabecalho">
                <li class="lista-item-cabecalho">
                    @Html.ActionLink("Homes", "Index", "Homes")
                </li>
                <li class="lista-item-cabecalho">
                    @Html.ActionLink("Serviços", "Index", "Serviços")
                </li>
                <li class="lista-item-cabecalho">
                    @Html.ActionLink("Funcionarios", "Index", "Funcionarios")
                </li>
                <li class="lista-item-cabecalho">
                    @Html.ActionLink("Clientes", "Index", "Clientes")
                </li>
                <li class="lista-item-cabecalho">
                    @Html.ActionLink("Agendamentos", "Index", "Agendamentos")
                </li>
            </ol>
        </nav>
    </header>
    
            @RenderBody()
    <script src="@Url.Content("~/scripts/jquery-1.10.2.js")"></script>
    <script src="@Url.Content("~/scripts/bootstrap.js")"></script>
    @RenderSection("ScriptPage", false);
    <footer>
        <div class="container-footer">
            <div class="container-logo">
                <img src="../assets/logo.png" alt="" width="50%">
                <p class="barbearia-texto">Barbearia <br> do Matheus</p>
                <p class="barbearia-span">©2022 - Barbearia do <br>Matheus</p>
            </div>
            <div class="container-lista-footer">
                <ul>
                    <li>Meu perfil </li>
                    <li>Sobre</li>
                    <li>Serviços</li>
                    <li>Contato</li>
                    <li>Agendar Agora</li>
                </ul>
            </div>
            <div class="container-lista-horario">
                <ol>
                    <li><p>Horários:</p></li>
                    <li><p>Ter à Sáb das 9:00 às 19:30</p></li>
                    <li><p>Dom das 9:00 às 12:00</p></li>
                </ol>
            </div>
            <div class="container-lista-redes">
                <ol>
                    <li><img src='../assets/facebook.svg'></li>
                    <li><img src='../assets/instagram.svg'></li>
                    <li><img src='../assets/watsapp.svg'></li>
                </ol>
            </div>
        </div>
    </footer>
</body>
</html>